h1{
    color: #6757d9;
    margin-bottom: 50px;
    font-size: 2.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}
a{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px 60px;
    font-size: 1.5rem;
    color: #6757d9;
    text-decoration: none;
    border-radius: 20px;
    transition:  aa ease-in 0.2s;
    text-align: center;


}
a:hover{
    background-color: #6757d9;
    color: #fff;
}